[Desktop Entry]
Type=Application
Version=0.1
Name=BScAero
GenericName=BScAero
Exec=bscaero
Terminal=false
Categories=
Comment=
Keywords=
Icon=bscaero
